<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="">Foodie</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li><a href="index">Homepage</a></li>
					<li class="current_page_item"><a href="search">Search</a></li>
					<li><a href="about">About</a></li>
					<li><a href="contact">Contact</a></li>
					<li><a href="login">Login</a></li>
				</ul>
			</div>
		</div>
		You must be logged in to view content of this page.
	</div>
</div>
	<!-- end #page -->
	
	</main>
  <% include ../partials/footer %>
</body>
</html>
